.button {
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: auto;
    filter: grayscale(1);

    &:hover {
      transform: none !important;
      box-shadow: none !important;
    }
  }
}

.button.primary {
  display: inline-block;
  padding: 16px 42px;
  background: var(--white);
  color: var(--primary-dark);
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  font-family: inherit;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease;
  width: var(--primary-button-width, auto);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25);
  }
}

.button.secondary {
  border: 2px solid var(--primary);
  color: var(--primary-dark);
  border-radius: 50px;
  font-weight: 500;
  width: var(--secondary-button-width, auto);
  display: inline-block;
  padding: 16px 42px;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25);
  }


}

.button.tertiary {
  background: var(--primary-light);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;

  &:hover {
    background: var(--primary);
  }

}

