.footer {
    background: #fdfdfd;
    padding: 80px 0 0px;
    border-top: 1px solid #eee;


    &-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

    }

    &-brand {
        h3 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: var(--primary-dark);
        }

        p {
            color: var(--text-muted);
            max-width: 300px;
        }
    }

    &-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            display: flex;
            gap: 30px;
            padding-top: 20px;

            .social-media-icon {
                font-size: 1.5rem;
                color: var(--primary-dark);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    &-contact {
        h4 {
            margin-bottom: 25px;
            color: var(--text-main);
        }

        ul li {
            margin-bottom: 12px;
        }

        p {
            color: var(--text-muted);
            margin-bottom: 10px;
        }
    }

   
    @media (max-width: 768px) {
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }
}