.form-group {
    margin-bottom: 20px;

    input,
    textarea {
      width: 100%;
      padding: 12px 16px;
      border-radius: 10px;
      border: 1px solid #e0e0e0;
      font-family: inherit;
      font-size: 1rem;
      transition: all 0.3s ease;
      background: #f9f9f9;
      resize: none;

      &:focus {
        outline: none;
        border-color: var(--primary);
        background: var(--white);
        box-shadow: 0 0 0 4px rgba(141, 110, 99, 0.1);
      }
    }

    textarea {
     height: 150px;
    }
  }